<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td{
            border: 1px solid black;
            text-align: center;
        }
        table{
            border-collapse: collapse;
            margin:auto ;
        }
        .ghead{
            background-color: black;
            color: aliceblue;
        }
        .ghead td{
            width: 80px;
            padding: 10px;
        }
        .gbody td{
            padding: 20px;
            width: 100px;
        }
        .sel{
            margin-right: 10px;
            margin-left: 10px;
            padding: 10px;
            font-size: 15px;
            background-color: coral;
            border: 1px solid coral;
            border-radius: 5px;
            color:black ;
        }
        .sub{
            padding: 10px;
            font-size: 15px;
            background-color: coral;
            border: 1px solid coral;
            border-radius: 5px;
            color:black ;
        }
    </style>
</head>

<body>
    <h2 style="text-align: center;">Tomar Ashutoshsingh DEV089</h2>
    <form action="/sqltasks/attendancegrid?page=1" method="get">
        <select name="month" id="month" class="sel">
            <% const months = ["December 2023", "January 2024", "February 2024"]; %>
            <% for (let i = 0; i < months.length; i++) { %>
                <option value="<%= i === 0 ? 'december2023' : (i === 1 ? 'january2024' : 'february2024') %>" <%= mon === `december2023` ? (i === 0 ? 'selected' : '') : (mon === `january2024` ? (i === 1 ? 'selected' : '') : (i === 2 ? 'selected' : '')) %>><%= months[i] %></option>
            <% } %>
        </select>
        <input type="submit" value="Submit" class="sub">
        <%-include('./partials/componentAtt', { l, mon }) %>
        <p style="text-align: center; color: red;">Attendance Report <%= mon %></p>
    </form>
   

        <table>
            <tr class="ghead">
                <td>ID</td>
                <td>Name</td>
                <td>Present</td>
                <td>Percentage</td>
                <td>Extra</td>
            </tr>
            <% for(let i=0 ; i<result.length ; i++) { %>

                <tr class="gbody">
                    <td>
                        <%=result[i].id %>
                    </td>
                    <td>
                        <%=result[i].fname %>
                    </td>
                    <td>
                        <%=result[i].present %>
                    </td>
                    <% if(result[i].month_=='December'|| result[i].month_=='January' ) {%>
                        <td>
                            <%=parseFloat((result[i].present)*100/31).toFixed(2)+" %"%>
                        </td>
                        <% } %>
                        <% if(result[i].month_=='February' ) {%>
                              <td>
                                 <%=parseFloat((result[i].present)*100/29).toFixed(2)+" %"%>
                              </td>
                             <% } %>
                             <td></td>
                </tr>

                <% } %>
        </table>
    
</body>

</html>