<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .container {
        margin: 100px 10px 50px 500px;
        width: fit-content;
        border: 1px solid rgb(255, 255, 255, 0.5);
        padding: 20px;
        border-radius: 20px;
        height: 170px;
    }

    input {
        width: 220px;
        height: 30px;
        border-radius: 10px;
        border: 1px solid rgb(15, 14, 33);
        background-color: rgb(45, 45, 50);
        color: white;
        text-align: center;
        font-size: 15px;
    }

    body {
        background-color: rgb(15, 14, 33);
    }

    .submit {
        background-color: aquamarine;
        border: 1px solid aquamarine;
        color: rgb(49, 49, 57);
    }

    td {
        padding: 10px;
    }

    table {
        margin: auto;

    }

    .submit:hover {
        background-color: green;
    }

    #thanks {
        text-align: center;
        color: azure;
    }

    a {
        text-decoration: none;
        color: brown;
    }

    #error1 {
        color: red;
        font-size: 12px;
        margin-left: 20px;
    }

    .error {
        color: red;
        font-size: 10px;
    }

    .mess {
        text-align: center;
        color: aliceblue;
    }
</style>

<body>
    <% if(hours<=3 && isvalid ) { %>
        <h2 style="text-align: center; color: aliceblue;">Ashutoshsingh Tomar DEV089</h2>
        <form id="passForm">
            <div class="container">
                <input type="hidden" name="id" value='<%=insertedId %>'>
                <input type="hidden" name="salt" value='<%= salt %>'>
                <table>
                    <tr>
                        <td><input type="text" name="pass" id="pass" placeholder="Password"></td>
                        <td><span class="error" id="passE"></span></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="cpass" id="cpass" placeholder="Confirm Password"></td>
                        <td><span class="error" id="cpassE"></span></td>
                    </tr>
                    <tr>
                        <td><input type="button" value="Create Password" class="submit" onclick="handlePass()"></td>
                    </tr>
                </table>
                <div class="passE">
                    <span id="error1"></span>
                </div>
            </div>
        </form>
        <div class="mess">
            <p id="msg"></p>
            <div id="login"></div>
        </div>

        <% } else {%>
            <p style="color: aliceblue;">Your link is expired or invalid . Please regenerate it</p>
            <a href=/generate?id=<%= insertedId %>&accesskey=<%= accesskey %>&salt=<%=  salt %>>Regenerate Token</a>
            <% } %>

                <script>
                    async function handlePass() {

                        let isValid = true;
                        let inputs = document.getElementsByTagName('input')
                        console.log(inputs[1].id === 'pass')
                        for (let i = 0; i < inputs.length; i++) {
                            if (inputs[i].id === 'pass') {
                                if (inputs[i].value === "") {
                                    document.getElementById('passE').innerHTML = "*fill values"
                                    isValid = false
                                }
                            }
                            if (inputs[i].id === 'cpass') {
                                if (inputs[i].value === "") {
                                    document.getElementById('cpassE').innerHTML = "*fill values"
                                    isValid = false
                                }
                            }
                        }
                        console.log(isValid)
                        if (isValid) {
                            let pass = document.getElementById('pass');
                            let cpass = document.getElementById('cpass');

                            if (pass.value !== cpass.value) {
                                document.getElementById('error1').innerHTML = "*password are not matching"
                            }
                            else {
                                document.getElementById('error1').innerHTML = ""
                                document.getElementById('cpassE').innerHTML = ""
                                document.getElementById('passE').innerHTML = ""
                                let formdata = document.getElementById('passForm')
                                const details = new FormData(formdata);
                                const params = new URLSearchParams(details);
                                const passdata = await new Response(params).text();

                                let data = await fetch("http://localhost:5900/save-pass", {

                                    method: "POST",
                                    headers: {
                                        "Content-type": 'application/x-www-form-urlencoded'
                                    },
                                    body: passdata
                                })
                                let final = await data.json();
                                document.getElementById('msg').innerHTML = `${final.msg}`
                                document.getElementById('login').innerHTML = `<a href='http://localhost:5900/login'>Login Here</a>`
                            }
                        }


                    }
                </script>
</body>

</html>